################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebsoftBookStore/.vs/WebsoftBookStore
/WebsoftBookStore/WebsoftBookStore/bin/Debug/netcoreapp3.1
/WebsoftBookStore/WebsoftBookStore/obj
